body {
    font-family: 'DM Serif Display', serif, sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 40px 10px;
    line-height: 1.65em;
    background: linear-gradient(to bottom, #004a4e, #005e71, #277094, #5780b5, #8e8dcd, #b992d0, #de99cc, #fca3c4, #ffafb4, #ffc0ab, #ffd2ab, #fbe3b4);
    color: #fff;
    font-weight: 300;
    vertical-align: center;
    overflow: hidden;
    position: relative;
}

.wrapper {
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 15% 0 5% 0;
}

#wordbox {
    /*opacity: 0;*/
    background: none;
    margin: 30px auto 0;
    display: block;
    border: hidden;
    width: 50%;
    height: 40px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    color: #eee;
    /*transition: 1s linear;*/
}

#button {
    background: #004a4e;
    border: 0;
    color: #eee;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 30px auto 60px;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

.footer {
    font-family: sans-serif;
    width: 100%;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
    padding-bottom: 1px;
}


/* Mobile first queries */

@media (min-width: 300px) {
    p {
        z-index: 9000;
    }
    .container-tools p {
        /*color: rgba(0, 0, 0, 0);*/
        z-index: -9000;
    }
    .container-tools a {
        /* color: rgba(0, 0, 0, 0);*/
        z-index: -9000;
    }
}


/* Larger than mobile */

@media (min-width: 400px) {
    p {
        z-index: 9000;
    }
    .container-tools p {
        /*color: rgba(0, 0, 0, 0);*/
        z-index: -9000;
    }
    .container-tools a {
        /*color: rgba(0, 0, 0, 0);*/
        z-index: -9000;
    }
}


/* Larger than phablet */

@media (min-width: 550px) {}

@media screen and (max-width: 600px) {
    .container-tools {
        visability: hidden;
        clear: both;
        float: left;
        display: none;
    }
}


/* Larger than tablet */

@media (min-width: 750px) {
    .services {
        width: 100%;
        max-width: 100%;
    }
    .services .column {
        margin: 0;
    }
}


/* Larger than desktop */

@media (min-width: 1000px) {
    .footer {}
    .cta {
        position: fixed;
        bottom: 0px;
        text-align: center;
    }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}