BODY {
    background-color: #F8F8F8;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    margin: 0px;
    background-size: cover;
}

canvas {
    height: 100vh;
    position: fixed;
    top: 0px;
    vertical-align: bottom;
}

a {
    color: #01886f;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    color: #136b5c;
}

h1 {
    color: #000000;
    padding-bottom: 0px;
    margin-bottom: 1%;
    font-family: 'Playfair Display', serif;
}

h2 {
    color: #F76C6C;
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

p {
    color: #191919;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

label {
    color: #000000;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

input,
textarea {
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1;
}

span {
    color: #F76C6C;
}


/*.logo a {
    color: #F76C6C;
}

.logo {
    color: #F76C6C;
    padding: 0;
    margin: 0;
}*/

.row.top p {
    color: #191919;
    margin-top: 1rem;
    text-align: justify;
    font-size: 1.7rem;
}

input {
    display: none !important;
}

.open {
    background-color: #f78888;
    width: 35px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
    z-index: 5;
}

.open:before {
    content: "";
    background-color: #f78888;
    width: 35px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.open:after {
    content: "";
    background-color: #f78888;
    width: 35px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
}

.menuOpen:hover .open:before {
    top: -9px;
}

.menuOpen:hover .open:after {
    top: 5px;
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f78888;
}

.menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
}

.menu .menuContent {
    position: relative;
    top: 30%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    z-index: 99998;
}

.menu ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Playfair Display', serif;
    padding: 10px 0;
    z-index: 99998;
}

.menu ul li a:hover {
    color: #f3d250;
    z-index: 5;
}

.menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 3;
}

.menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
    z-index: 3;
}

.social i {
    display: inline-block;
    font-size: 30px;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    z-index: 3;
}


/*.social img {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

#mc_embed_signup {
    background: #f78888 !important;
    clear: left;
    font-family: 14px 'Playfair Display', serif;
    width: 60%;
}*/

#menuToggle:checked~.menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

#menuToggle:checked~.menuEffects ul {
    opacity: 1;
}

#menuToggle:checked~.menuOpen .open {
    background-color: transparent;
}

#menuToggle:checked~.menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

#menuToggle:checked~.menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 5;
}

#menuToggle:not(:checked)~.menuEffects ul {
    transform: translateY(-30%);
}

.contact {
    display: inline-block;
}

.footer img {
    position: relative;
}

.footer p {
    color: #191919;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.footerLinks {
    margin: 0px;
    padding: 0px;
}

.footerLinks li {
    display: inline-block;
    color: #191919;
    margin: 10px;
}


/* --- copyright --- */

.container-tools {
    padding-top: 3.5rem;
    writing-mode: vertical-rl;
    margin: 0;
    padding-bottom: 0;
    position: fixed;
    inset-inline-end: 10px;
    width: 90vw;
    direction: ltr;
    position: -webkit-sticky;
}

.container-tools p {
    color: #191919;
    font-size: 1rem;
    /*margin-bottom: 10px;*/
    padding: 0px;
    text-align: start;
    text-shadow: .5px #000;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    bottom: 0;
}


/* Mobile first queries */

@media (min-width: 300px) {
    p {
        z-index: 9000;
    }
    .container-tools p {
        /*color: rgba(0, 0, 0, 0);*/
        z-index: -9000;
    }
    .container-tools a {
        /* color: rgba(0, 0, 0, 0);*/
        z-index: -9000;
    }
    .smallLogo img {
        margin-left: calc((94vw - 2px) / 2);
    }
    .footer p {
        text-align: center;
    }
}


/* Larger than mobile */

@media (min-width: 400px) {
    p {
        z-index: 9000;
    }
    .container-tools p {
        /*color: rgba(0, 0, 0, 0);*/
        z-index: -9000;
    }
    .container-tools a {
        /*color: rgba(0, 0, 0, 0);*/
        z-index: -9000;
    }
    .cta {
        position: relative;
    }
    .smallLogo img {
        margin-left: calc((96vw - 2px) / 2);
    }
    .footer p {
        text-align: center;
    }
}


/* Larger than phablet */

@media (min-width: 550px) {}

@media screen and (max-width: 600px) {
    .container-tools {
        visability: hidden;
        clear: both;
        float: left;
        display: none;
    }
    .cta {
        position: relative;
    }
    .smallLogo img {
        margin-left: calc((96vw - 2px) / 2);
    }
    .footer p {
        text-align: center;
    }
}


/* Larger than tablet */

@media (min-width: 730px) {
    .services {
        width: 100%;
        max-width: 100%;
    }
    .services .column {
        margin: 0;
    }
    .cta {
        position: relative;
    }
    .tools {
        visibility: hidden;
    }
    .smallLogo img {
        margin-left: calc((96vw - 2px) / 2);
    }
    .footer p {
        text-align: center;
    }
}


/* Larger than desktop */

@media (min-width: 1000px) {
    p {
        margin-right: 70px;
    }
    .cta {
        /*position: fixed;*/
        bottom: 0px;
        text-align: center;
        position: relative;
    }
    .tools {
        visibility: hidden;
    }
    .smallLogo img {
        margin-left: calc((3vw - 1px) / 2);
    }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}
